<header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

        <a href="{% url 'home' %}" class="logo d-flex align-items-center">
            <!-- Uncomment the line below if you also wish to use an image logo -->
            <!-- <img src="assets/img/logo.png" alt=""> -->
            <span>Yüksek Teknoloji</span>
        </a>

        <nav id="navbar" class="navbar">
            <ul>
                <li><a href="{% url 'home' %}">Anasayfa</a></li>
                <li><a href="{% url 'teknoloji' %}">Teknoloji &#10084;&#65039;</a></li>
                <li><a href="{% url 'bilim' %}">Bilim</a></li>
                <li><a href="{% url 'telefon' %}">Akıllı Telefon</a></li>
                <li><a href="{% url 'oyun' %}">Oyun</a></li>
                <li><a href="{% url 'otomobil' %}">Otomobil</a></li>
            </ul>
        </nav><!-- .navbar -->

        <div class="position-relative">
            <a href="https://www.facebook.com/yuksekteknolojicom" class="mx-2" target="_blank"><span class="bi-facebook" aria-label="Facebook kanalımız"></span></a>
            <a href="https://twitter.com/yuksekteknloji" class="mx-2" target="_blank"><span class="bi-twitter" aria-label="Twitter kanalımız"></span></a>
            <a href="https://t.me/yuksekteknoloji_com" class="mx-2" target="_blank" aria-label="Telegram kanalımız"><span class="bi-telegram"></span></a>
            <a href="https://www.instagram.com/yuksekteknoloji_com/" class="mx-2" target="_blank" aria-label="instagram kanalımız"><span class="bi-instagram"></span></a>

            <a href="#" class="mx-2 js-search-open"><span class="bi-search" aria-label="Arama Butonu"></span></a>
            <i class="bi bi-list mobile-nav-toggle" aria-label="Navigasyon"></i>

            <!-- ======= Search Form ======= -->
            <div class="search-form-wrap js-search-form-wrap">
                <form action="{% url 'home' %}" class="search-form">
                    <span class="icon bi-search"></span>
                    <input type="text" placeholder="Arama" class="form-control">
                    <button class="btn js-search-close"><span class="bi-x"></span></button>
                </form>
            </div><!-- End Search Form -->

        </div>

    </div>
</header><!-- End Header -->