{% load static %}
<br>
<div>
    <!-- social icons -->
    <style>
        .social-icons .bi {
            font-size: 34px; /* İkonların boyutunu ayarlar */
            animation: fadeInOut 2s infinite;
            animation-delay: calc(.2s * var(--i));
        }

        @keyframes fadeInOut {
            0% {
                opacity: 0.5;
            }
            50% {
                opacity: 1;
            }
            100% {
                opacity: 0.5;
            }
        }

        .social-icons .bi {
            animation: fadeInOut 2s infinite;
            animation-delay: calc(.2s * var(--i));
        }

        @keyframes renkDegisimi {
            0% {
                border-color: #000;
            }
            /* Siyah */
            33% {
                border-color: #f00;
            }
            /* Kırmızı */
            66% {
                border-color: #008000;
            }
            /* Yeşil */
            100% {
                border-color: #000;
            }
            /* Siyah */
        }

        .social-icons {
            border-top: 3px solid #000;
            border-bottom: 3px solid #000;
            animation: renkDegisimi 2s infinite;
        }


    </style>

    <ul class="social-icons list-unstyled list-inline mt-3 mb-3 mx-auto d-block">
        <li class="list-inline-item"><a
                href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}"
                target="_blank"><i class="bi bi-facebook"
                                   aria-label="Haberi Facebook'ta Paylaş"
                                   title="Haberi  Facebook'ta Paylaş"
                                   role="button" style="--i: 0;"></i></a></li>
        <li class="list-inline-item"><a
                href="https://twitter.com/intent/tweet?url={{ request.build_absolute_uri }}"
                target="_blank"><i class="bi bi-twitter"
                                   aria-label="Haberi Twitter'da Paylaş"
                                   title="Haberi Twitter'da Paylaş"
                                   role="button" style="--i: 1;"></i></a></li>
        <li class="list-inline-item"><a
                href="https://wa.me/?text=Bunu Keslinkle okumalısın! {{ request.build_absolute_uri }}"
                target="_blank"><i class="bi bi-whatsapp"
                                   aria-label="Haberi Whatsapp'da Paylaş"
                                   title="Haberi Whatsapp'da Paylaş"
                                   role="button" style="--i: 2;"></i></a></li>
        <!--        <li class="list-inline-item"><a href="https://www.instagram.com/"
                                                target="_blank"><i class="bi bi-instagram"
                                                                   aria-label="Hikaye ve Masalı instagram'da Paylaş"
                                                                   title="Hikaye ve Masalı instagram'da Paylaş"
                                                                   role="button"
                                                                   style="--i: 3;"></i></a></li> -->
        <li class="list-inline-item"><a
                href="https://telegram.me/share/url?url={{ request.build_absolute_uri }}"
                target="_blank"><i class="bi bi-telegram"
                                   aria-label="Haberi Telegram'da Paylaş"
                                   title="Haberi Telegram'da Paylaş"
                                   role="button" style="--i: 4;"></i></a></li>

        <!-- Pinterest için -->
        <li class="list-inline-item">
            <a href="https://pinterest.com/pin/create/button/?url={{ request.build_absolute_uri }}"
               target="_blank">
                <i class="bi bi-pinterest" aria-label="Haberi Pinterest'te Paylaş"
                   title="Haberi Pinterest'te Paylaş" role="button" style="--i: 1;"></i>
            </a>
        </li>

        <!-- LinkedIn için -->
        <li class="list-inline-item">
            <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ request.build_absolute_uri }}"
               target="_blank">
                <i class="bi bi-linkedin" aria-label="Haberi LinkedIn'de Paylaş"
                   title="Haberi LinkedIn'de Paylaş" role="button" style="--i: 2;"></i>
            </a>
        </li>

        <!-- Google News için -->
        <li class="list-inline-item">
            <a href="https://news.google.com/publications/CAAqBwgKMODRqAww1q_tAg?ceid=TR:tr&oc=3"
               target="_blank">
                <i class="bi bi-google" aria-label="Haberi Google News'de Paylaş"
                   title="Haberi Google News'de Paylaş" role="button" style="--i: 3;"></i>
            </a>
        </li>


        <li class="list-inline-item"><a href="#"
                                        onclick="navigator.clipboard.writeText(window.location.href); return false;"><i
                class="bi bi-clipboard" aria-label="Haberi Kopyala"
                title="Haberi Kopyala" role="button" style="--i: 5;"></i></a>
        </li>
    </ul>
</div>