{% load static %}
<!DOCTYPE html>
<html lang="tr">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>{% block title %}Site Başlığı{% endblock %}</title>
    <meta name="description" content="{% block description %}Site description{% endblock %}">
    <meta name="keywords" content="{% block keywords %}Site keywords{% endblock %}">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5">
    <meta name="author" content="{% block yazar %}Melih ÖZKAŞ{% endblock %}">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/logo/logo.webp' %}">

    <!-- Robots Etiketi -->
    <meta name="robots" content="index, follow">


    {% block amp %}{% endblock amp %}
    {% block canonical_url %}

    <!-- Canonical Link -->
    <link rel="canonical" href="{{ request.build_absolute_uri }}"/>{% endblock %}

    <!-- Open Graph Etiketleri (Facebook, LinkedIn) -->
    <meta property="og:type" content="{% block ogtype %}website{% endblock %}">
    <meta property="og:title" content="{% block ogtitle %}OG TITLE{% endblock %}">
    <meta property="og:description" content="{% block ogDes %}OG DES{% endblock %}">
    <meta property="og:url" content="{% block ogurl %}OG url{% endblock %}">
    <meta property="og:site_name" content="Yüksek Teknoloji">
    {% block sosyal_post_image %}
        <meta property="og:image" content="{% static 'assets/logo/logo.webp' %}">{% endblock %}
    <meta property="og:locale" content="tr_TR">
    <meta property="og:image:width" content="800"/>
    <meta property="og:image:height" content="400"/>



    <!-- Twitter Card Etiketleri -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{% block twtitle %}tw title{% endblock %}">
    <meta name="twitter:description" content="{% block twdesc %}tw description{% endblock %}">
    <meta name="twitter:site" content="{% block twaccountsite %}@yuksekteknloji{% endblock %}">
    {% block tt_post_image %}
        <meta name="twitter:image" content="{% static 'assets/logo/logo.webp' %}">{% endblock %}
    <meta name="twitter:creator" content="{% block twcreator %}@yuksekteknloji{% endblock %}">




    <!-- Favicons -->
    <link href="{% static 'assets/img/favicon.png' %}" rel="icon">
    <link href="{% static 'assets/img/favicon.png' %}" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500&family=Inter:wght@400;500&family=Playfair+Display:ital,wght@0,400;0,700;1,400;1,700&display=swap"
          rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">

    <!-- Template Main CSS Files -->
    <link href="{% static 'assets/css/variables.css' %}" rel="stylesheet">
    <link href="{% static 'assets/css/main.css' %}" rel="stylesheet">
    <!-- Yandex Code -->
    <meta name="yandex-verification" content="5d51627656f22f62"/>
    <meta name="google-adsense-account" content="ca-pub-7065951693101615">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7065951693101615"
            crossorigin="anonymous"></script>


    <link rel="alternate" type="application/rss+xml" title="Teknoloji Haberleri"
          href="https://{{ request.get_host }}{% url 'teknoloji_feed' %}"/>
    <link rel="alternate" type="application/rss+xml" title="Bilim Haberleri"
          href="https://{{ request.get_host }}{% url 'bilim_feed' %}"/>
    <link rel="alternate" type="application/rss+xml" title="Otomobil Haberleri"
          href="https://{{ request.get_host }}{% url 'otomobil_feed' %}"/>
    <link rel="alternate" type="application/rss+xml" title="Oyun Haberleri"
          href="https://{{ request.get_host }}{% url 'oyun_feed' %}"/>
    <link rel="alternate" type="application/rss+xml" title="Telefon Haberleri"
          href="https://{{ request.get_host }}{% url 'telefon_feed' %}"/>
    <link rel="alternate" type="application/rss+xml" title="Diziler ve Filmler"
          href="https://{{ request.get_host }}{% url 'dizi_feed' %}"/>




    {% block extra_head %}
    {% endblock extra_head %}
    {% block extra_Two_head %}
    {% endblock extra_Two_head %}


    <!-- Pinteres -->
    <meta name="p:domain_verify" content="06f947918e38c4cf678339fee2527b7e"/>


    <!-- Google tag (gtag.js) and analatics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-8WCZB50MSD"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'G-8WCZB50MSD');
    </script>

</head>

<body>

<!-- ======= Header ======= -->
{% include 'parcali/header.html' %}

<main id="main">

    {% block pageicerik %}


    {% endblock pageicerik %}


</main><!-- End #main -->

<!-- ======= Footer ======= -->
{% include 'parcali/footer.html' %}

<a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
<script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
<script src="{% static 'assets/vendor/aos/aos.js' %}"></script>


<!-- Template Main JS File -->
<script src="{% static 'assets/js/main.js' %}"></script>

</body>

</html>