{% extends 'newBase.html' %}
{% load static %}


<!-- Meta Tag Başlangıç -->
{% block MetaTag %}
    <title>404 Sayfa Bulunamadı</title>
    <meta name="description" content="404 Sayfa Bulunamadı-Bilgi">


    <!-- Canonical Link -->
    <link rel="canonical" href="{{ request.build_absolute_uri }}">
{% endblock MetaTag %}



<!--  Open Graph / Facebook Tag Başlangıç -->
{% block OgTag %}
    <meta property="og:title" content="404 Sayfa Bulunamadı">
    <meta property="og:description" content="404 Sayfa Bulunamadı-Bilgi">
    <meta property="og:url" content="{{ request.build_absolute_uri }}">
    <meta property="og:image" content="{% static 'assets/logo/logo.webp' %}">
    <meta property="og:image:width" content="960"/>
    <meta property="og:image:height" content="640"/>
{% endblock OgTag %}
<!--  Open Graph / Facebook Tag Bitiş -->

<!--  tt Tag Başlangıç -->
{% block ttTag %}
    <meta name="twitter:title" content="404 Sayfa Bulunamadı">
    <meta name="twitter:description" content="404 Sayfa Bulunamadı-Bilgi">
    <meta name="twitter:url" content="https://x.com/yuksekteknloji">
    <meta name="twitter:image" content="{% static 'assets/logo/logo.webp' %}">
{% endblock ttTag %}
<!--  tt Tag Bitiş -->


<!--  extra_Kod Başlangıç -->
{% block extra_Kod %}


    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700&family=Rubik:wght@400;500;700&display=swap"
          rel="stylesheet">

    <!-- Plugins CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'yeni/assets/vendor/font-awesome/css/all.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'yeni/assets/vendor/bootstrap-icons/bootstrap-icons.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'yeni/assets/vendor/tiny-slider/tiny-slider.css' %}">

    <!-- Theme CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'yeni/assets/css/style.css' %}">
{% endblock extra_Kod %}
<!--  extra_Kod Bitiş -->

{% block extra_head %}
    <script type="application/ld+json">

    {
        "@context": "https://schema.org",
        "@type": "WebSite",
        "url": "{{ request.build_absolute_uri }}",
        "name": "Yüksek Teknoloji",
        "description": "{{ description }}",
        "keywords": "{{ keywords }}",
        "publisher": {
          "@type": "Organization",
          "name": "Yüksek Teknoloji",
          "logo": {
            "@type": "ImageObject",
            "url": "https://teknolojibucket.s3.amazonaws.com/static/assets/logo/logo.webp"
          }
        }
    }
</script>

{% endblock extra_head %}


{% block extra_Two_head %}
    <script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement": [
    {
      "@type": "ListItem",
      "position": 1,
      "name": "En Son Teknoloji, Bilim, Oyun ve Otomobil Haberleri",
      "item": "https://www.yuksekteknoloji.com/"
    }
  ]

}
</script>
{% endblock %}



{% block main %}
    <!-- **************** MAIN CONTENT START **************** -->
    <main>

        <!-- =======================
        Inner intro START -->
        <section class="overflow-hidden">
            <div class="container">
                <div class="row">
                    <div class="col-md-9 text-center mx-auto my-0 my-md-5 py-0 py-lg-5 position-relative z-index-9">
                        <!-- SVG shape START -->
                        <figure class="position-absolute top-50 start-50 translate-middle opacity-7 z-index-n9">
                            <svg width="650" height="379" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                                 viewBox="0 0 510 297">
                                <g>
                                    <path class="fill-primary opacity-1" d="M121,147.4c0,6-4.8,10.8-10.8,10.8H47.6c-6,0-10.8-4.8-10.8-10.8v-11.5c0-6,4.8-10.8,10.8-10.8h62.6
              c6,0,10.8,4.8,10.8,10.8V147.4z"/>
                                    <path class="fill-primary opacity-1" d="M179.4,90.2c0,6-4.8,10.8-10.8,10.8h-62.6c-6,0-10.8-4.8-10.8-10.8V78.7c0-6,4.8-10.8,10.8-10.8h62.6
              c6,0,10.8,4.8,10.8,10.8V90.2z"/>
                                    <path class="fill-primary opacity-1" d="M459.1,26.3c0,6-4.8,10.8-10.8,10.8h-62.6c-6,0-10.8-4.8-10.8-10.8V14.8c0-6,4.8-10.8,10.8-10.8h62.6
              c6,0,10.8,4.8,10.8,10.8V26.3z"/>
                                    <path class="fill-primary opacity-1" d="M422.1,66.9c0,6-4.8,10.8-10.8,10.8h-62.6c-6,0-10.8-4.8-10.8-10.8V55.3c0-6,4.8-10.8,10.8-10.8h62.6
              c6,0,10.8,4.8,10.8,10.8V66.9z"/>
                                    <path class="fill-primary opacity-1" d="M275.8,282.6c0,5.9-4.8,10.8-10.8,10.8h-62.6c-6,0-10.8-4.8-10.8-10.8v-11.5c0-6,4.8-10.8,10.8-10.8h62.6
              c6,0,10.8,4.8,10.8,10.8V282.6z"/>
                                    <path class="fill-primary opacity-1" d="M87.7,42.9c0,5.9-4.8,10.8-10.8,10.8H14.3c-6,0-10.8-4.8-10.8-10.8V31.4c0-6,4.8-10.8,10.8-10.8h62.6
              c6,0,10.8,4.8,10.8,10.8V42.9z"/>
                                    <path class="fill-primary opacity-1" d="M505.9,123.4c0,6-4.8,10.8-10.8,10.8h-62.6c-6,0-10.8-4.8-10.8-10.8v-11.5c0-6,4.8-10.8,10.8-10.8h62.6
              c6,0,10.8,4.8,10.8,10.8V123.4z"/>
                                    <path class="fill-primary opacity-1" d="M482.5,204.9c0,5.9-4.8,10.8-10.8,10.8h-62.6c-6,0-10.8-4.8-10.8-10.8v-11.5c0-6,4.8-10.8,10.8-10.8h62.6
              c5.9,0,10.8,4.8,10.8,10.8V204.9z"/>
                                    <path class="fill-primary opacity-1" d="M408.3,258.8c0,5.9-4.8,10.8-10.8,10.8H335c-6,0-10.8-4.8-10.8-10.8v-11.5c0-6,4.8-10.8,10.8-10.8h62.6
              c6,0,10.8,4.8,10.8,10.8V258.8z"/>
                                    <path class="fill-primary opacity-1" d="M147,252.5c0,5.9-4.8,10.8-10.8,10.8H73.6c-6,0-10.8-4.8-10.8-10.8V241c0-5.9,4.8-10.8,10.8-10.8h62.6
              c6,0,10.8,4.8,10.8,10.8V252.5z"/>
                                </g>
                            </svg>
                        </figure>
                        <!-- SVG shape START -->
                        <!-- Content -->
                        <h1 class="display-1 text-primary">404</h1>
                        <h2>Sayfa bulunamadı!</h2>
                        <p>Ya bir şeyler ters gitti ya da bu sayfa artık yok.</p>
                        <a href="{% url 'home' %}" class="btn btn-danger-soft mt-3"><i
                                class="fas fa-long-arrow-alt-left me-3"></i>Ana Sayfaya Geri Dön</a>
                    </div>
                </div>
            </div>
        </section>
        <!-- =======================
        Inner intro END -->

    </main>
    <!-- **************** MAIN CONTENT END **************** -->
{% endblock main %}

{% block extra_js %}
    <!-- Bootstrap JS -->
    <script src="{% static 'yeni/assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Template Functions -->
    <script src="{% static 'yeni/assets/js/functions.js' %}"></script>
{% endblock extra_js %}