{% extends 'newBase.html' %}
{% load static %}


<!-- Meta Tag Başlangıç -->
{% block MetaTag %}
    <title>{{ title }}</title>
    <meta name="description" content="{{ description }}">
    <meta name="keywords" content="{{ keywords }}">
    <meta name="author" content="Yüksek Teknoloji">

    <!-- Canonical Link -->
    <link rel="canonical" href="{{ request.scheme }}://{{ request.get_host }}/{{ Post_Kategorisi.slug }}/">
{% endblock MetaTag %}



<!--  Open Graph / Facebook Tag Başlangıç -->
{% block OgTag %}
    <meta property="og:title" content="{{ title }}">
    <meta property="og:description" content="{{ description }}">
    <meta property="og:url" content="{{ request.build_absolute_uri }}">
    <meta property="og:image" content="{{ Post_Kategorisi.resim.url }}">
    <meta property="og:image:width" content="960"/>
    <meta property="og:image:height" content="640"/>
{% endblock OgTag %}
<!--  Open Graph / Facebook Tag Bitiş -->

<!--  tt Tag Başlangıç -->
{% block ttTag %}
    <meta name="twitter:title" content="{{ title }}">
    <meta name="twitter:description" content="{{ description }}">
    <meta name="twitter:url" content="https://x.com/yuksekteknloji">
    <meta name="twitter:image" content="{{ Post_Kategorisi.resim.url }}">
{% endblock ttTag %}
<!--  tt Tag Bitiş -->


<!--  extra_Kod Başlangıç -->
{% block extra_Kod %}
    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static 'yeni/assets/images/favicon.ico' %}">

    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700&family=Rubik:wght@400;500;700&display=swap"
          rel="stylesheet">

    <!-- Plugins CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'yeni/assets/vendor/font-awesome/css/all.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'yeni/assets/vendor/bootstrap-icons/bootstrap-icons.css' %}">


    <!-- Theme CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'yeni/assets/css/style.css' %}">
{% endblock extra_Kod %}
<!--  extra_Kod Bitiş -->


{% block extra_head %}
    <script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "CollectionPage",
  "name": "{{ Post_Kategorisi.short_title }} Haberleri",
  "description": "{{ description }}",
  "keywords": "{{ keywords }}",
  "url": "{{ request.build_absolute_uri }}",
  "hasPart": [
    {% for storyx in TumPost %}
    {
      "@type": "NewsArticle",
      "headline": "{{ storyx.title }}",
      "url": "{{ request.scheme }}://{{ request.get_host }}/{{ storyx.slug }}/",
      "datePublished": "{{ storyx.olusturma_tarihi.isoformat }}",
      "dateModified": "{{ storyx.guncelleme_tarihi.isoformat }}",
      "author": {
        "@type": "Person",
        "name": "{{ storyx.yazar }}"
      },
      "image": {
        "@type": "ImageObject",
        "url": "{{ storyx.resim.url }}"
      },
      "publisher": {
          "@type": "Organization",
          "name": "Yüksek Teknoloji",
          "logo": {
            "@type": "ImageObject",
            "url": "https://teknolojibucket.s3.amazonaws.com/static/assets/logo/logo.webp"
          }
        }
    }{% if not forloop.last %},{% endif %}
    {% endfor %}
  ]
}
</script>
{% endblock %}


{% block extra_Two_head %}
    <script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement": [
    {
      "@type": "ListItem",
      "position": 1,
      "name": "En Son Teknoloji, Bilim, Oyun ve Otomobil Haberleri",
      "item": "https://www.yuksekteknoloji.com/"
    },
    {
      "@type": "ListItem",
      "position": 2,
      "name": "{{ Post_Kategorisi.H1 }}",
      "item": "https://www.yuksekteknoloji.com/{{ Post_Kategorisi.slug }}/"
    }
  ]

}
</script>
{% endblock %}


{% block main %}
    <!-- **************** MAIN CONTENT START **************** -->
    <main>

        <!-- =======================
        Inner intro START -->
        <section class="pt-4">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h1 class="display-5">{{ H1 }}</h1>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item"><a href="{% url 'home' %}"><i
                                        class="bi bi-house me-1"></i>
                                    Ana Sayfa</a></li>
                                <li class="breadcrumb-item active">{{ Post_Kategorisi.name }}</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </section>
        <!-- =======================
        Inner intro END -->

        <!-- =======================
        Main content START -->
        <section class="position-relative pt-0">
            <div class="container" data-sticky-container>
                <div class="row">
                    <!-- Main Post START -->
                    <div class="col-lg-9">
                        <div class="row gy-4">
                            {% for Post in TumPost %}
                                {% if forloop.first %}
                                    <!-- Card item START -->
                                    <div class="col-12">
                                        <div class="card overflow-hidden">
                                            <!-- Card img -->
                                            <div class="position-relative">
                                                <a href="{% url 'post-getir' post_slug=Post.slug %}">
                                                    <img class="card-img lazy" src="{{ Post.resim.url }}"
                                                         alt="{{ Post.title }}" width="960" height="640">
                                                </a>
                                                <!-- Card featured -->
                                                <span class="card-featured" title="Featured post"><i
                                                        class="fas fa-star"></i></span>
                                                <div class="card-img-overlay d-flex align-items-start flex-column p-3">
                                                    <!-- Card overlay bottom -->
                                                    <div class="w-100 mt-auto">
                                                        <!-- Card category -->
                                                        <a href="{{ request.scheme }}://{{ request.get_host }}/{{ Post.Post_Turu.slug }}/"
                                                           class="badge text-bg-{{ Post.Post_Turu.renk }} mb-2"><i
                                                                class="fas fa-circle me-2 small fw-bold"></i>{{ Post.Post_Turu.short_title }}
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-body px-0 pt-3">
                                                <h2 class="card-title"><a
                                                        href="{% url 'post-getir' post_slug=Post.slug %}"
                                                        class="btn-link text-reset fw-bold">{{ Post.h1 }}</a>
                                                </h2>
                                                <p class="card-text">{% if Post.yenicerik1 %}
                                                    {{ Post.yenicerik1|truncatechars:175|safe }}
                                                {% else %}
                                                    {{ Post.icerik|truncatechars:175|safe }}
                                                {% endif %}</p>
                                                <!-- Card info -->
                                                <ul class="nav nav-divider align-items-center d-none d-sm-inline-block">
                                                    <li class="nav-item">
                                                        <div class="nav-link">
                                                            <div class="d-flex align-items-center position-relative">
                                                                <div class="avatar avatar-xs">
                                                                    <img class="avatar-img rounded-circle"
                                                                         src="{% static 'yeni/assets/images/avatar/01.jpg' %}"
                                                                         alt="avatar">
                                                                </div>
                                                                <span class="ms-3"><a href="{% url 'hakkimizda' %}"
                                                                                      class="stretched-link text-reset btn-link">{{ Post.yazar }}</a></span>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li class="nav-item">{{ Post.olusturma_tarihi|date:"d M Y" }}</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Card item END -->
                                {% else %}
                                    <!-- Card item START -->
                                    <div class="col-sm-6">
                                        <div class="card">
                                            <!-- Card img -->
                                            <div class="position-relative">

                                                <div class="card-img-overlay d-flex align-items-start flex-column p-3">
                                                    <!-- Card overlay Top -->
                                                    <div class="w-100 mb-auto d-flex justify-content-end">
                                                        <div class="text-end ms-auto">
                                                            <!-- Card format icon -->
                                                            <div class="icon-md bg-white bg-opacity-25 bg-blur text-white rounded-circle"
                                                                 title="This post has video"><i
                                                                    class="fas fa-video"></i></div>
                                                        </div>
                                                    </div>
                                                    <!-- Card overlay bottom -->
                                                    <div class="w-100 mt-auto">
                                                        <!-- Card category -->
                                                        <a href="{{ request.scheme }}://{{ request.get_host }}/{{ Post.Post_Turu.slug }}/"
                                                           class="badge text-bg-{{ Post.Post_Turu.renk }} mb-2"><i
                                                                class="fas fa-circle me-2 small fw-bold"></i>{{ Post.Post_Turu.short_title }}
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-body px-0 pt-3">

                                                <!-- Card info -->
                                                <ul class="nav nav-divider align-items-center d-none d-sm-inline-block">
                                                    <li class="nav-item">
                                                        <div class="nav-link">
                                                            <div class="d-flex align-items-center position-relative">
                                                                <div class="avatar avatar-xs">
                                                                    <img class="avatar-img rounded-circle"
                                                                         src="{% static 'yeni/assets/images/avatar/02.jpg' %}"
                                                                         alt="avatar">
                                                                </div>
                                                                <span class="ms-3"><a href="{% url 'hakkimizda' %}"
                                                                                      class="stretched-link text-reset btn-link">{{ Post.yazar }}</a></span>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li class="nav-item">{{ Post.olusturma_tarihi|date:"d M Y" }}</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Card item END -->
                                {% endif %}
                            {% endfor %}


                            <!-- pagination START -->
                            <nav class="mt-5" aria-label="navigation">
                                <ul class="pagination d-flex justify-content-between">
                                    {% if TumPost.has_previous %}
                                        <li class="page-item flex-fill text-center">
                                            <a href="?sayfa={{ TumPost.previous_page_number }}" class="page-link">
                                                <i class="fas fa-long-arrow-alt-left me-2 rtl-flip"></i>Önceki
                                            </a>
                                        </li>
                                    {% else %}
                                        <li class="page-item flex-fill text-center disabled">
                <span class="page-link">
                    <i class="fas fa-long-arrow-alt-left me-2 rtl-flip"></i>Önceki
                </span>
                                        </li>
                                    {% endif %}

                                    {% if TumPost.has_next %}
                                        <li class="page-item flex-fill text-center">
                                            <a href="?sayfa={{ TumPost.next_page_number }}" class="page-link">
                                                Sonraki<i class="fas fa-long-arrow-alt-right ms-2 rtl-flip"></i>
                                            </a>
                                        </li>
                                    {% else %}
                                        <li class="page-item flex-fill text-center disabled">
                <span class="page-link">
                    Sonraki<i class="fas fa-long-arrow-alt-right ms-2 rtl-flip"></i>
                </span>
                                        </li>
                                    {% endif %}
                                </ul>
                            </nav>
                            <!-- pagination END -->
                        </div>
                    </div>
                    <!-- Main Post END -->

                    <!-- Sidebar START -->
                    {% include 'YeniTema/parcalar/sidebar.html' %}
                    <!-- Sidebar END -->
                </div> <!-- Row end -->
            </div>
        </section>
        <!-- =======================
        Main content END -->

    </main>
    <!-- **************** MAIN CONTENT END **************** -->
{% endblock main %}



{% block extra_js %}
    <!-- Bootstrap JS -->
    <script src="{% static 'yeni/assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Vendors -->

    <script src="{% static 'yeni/assets/vendor/sticky-js/sticky.min.js' %}"></script>
    <script src="{% static 'yeni/assets/vendor/vanilla-lazyload/lazyload.min.js' %}"></script>

    <!-- Template Functions -->
    <script src="{% static 'yeni/assets/js/functions.js' %}"></script>
{% endblock extra_js %}