{% extends 'newBase.html' %}
{% load static %}


<!-- Meta Tag Başlangıç -->
{% block MetaTag %}
    <title>{{ icerik.title }}</title>
    <meta name="description" content="{{ icerik.meta_description }}">
    <meta name="keywords" content="{{ icerik.keywords }}">
    <meta name="author" content="{{ icerik.yazar }}">

    <!-- Canonical Link -->
    <link rel="canonical" href="{{ request.build_absolute_uri }}">
{% endblock MetaTag %}



<!--  Open Graph / Facebook Tag Başlangıç -->
{% block OgTag %}
    <meta property="og:title" content="{{ icerik.title }}">
    <meta property="og:description" content="{{ icerik.meta_description }}">
    <meta property="og:url" content="{{ request.build_absolute_uri }}">
    <meta property="og:image" content="{{ icerik.resim.url }}">
    <meta property="og:image:width" content="960"/>
    <meta property="og:image:height" content="640"/>
{% endblock OgTag %}
<!--  Open Graph / Facebook Tag Bitiş -->

<!--  tt Tag Başlangıç -->
{% block ttTag %}
    <meta name="twitter:title" content="{{ icerik.title }}">
    <meta name="twitter:description" content="{{ icerik.meta_description }}">
    <meta name="twitter:url" content="https://x.com/yuksekteknloji">
    <meta name="twitter:image" content="{{ icerik.resim.url }}">
{% endblock ttTag %}
<!--  tt Tag Bitiş -->


<!--  extra_Kod Başlangıç -->
{% block extra_Kod %}
    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static 'yeni/assets/images/favicon.ico' %}">

    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700&family=Rubik:wght@400;500;700&display=swap"
          rel="stylesheet">

    <!-- Plugins CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'yeni/assets/vendor/font-awesome/css/all.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'yeni/assets/vendor/bootstrap-icons/bootstrap-icons.css' %}">


    <!-- Theme CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'yeni/assets/css/style.css' %}">
{% endblock extra_Kod %}
<!--  extra_Kod Bitiş -->

{% block main %}
    <!-- **************** MAIN CONTENT START **************** -->
    <main>

        <!-- =======================
        Inner intro START -->
        <section class="pt-2">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="card bg-dark-overlay-5 overflow-hidden card-bg-scale h-400 text-center"
                             style="background-image:url({{ icerik.resim.url }}); background-position: center left; background-size: cover;">
                            <!-- Card Image overlay -->
                            <div class="card-img-overlay d-flex align-items-center p-3 p-sm-4">
                                <div class="w-100 my-auto">
                                    <!-- Card category -->
                                    <a href="{{ request.scheme }}://{{ request.get_host }}/{{ icerik.Post_Turu.slug }}/"
                                       class="badge text-bg-{{ icerik.Post_Turu.renk }} mb-2"><i
                                            class="fas fa-circle me-2 small fw-bold"></i>{{ icerik.Post_Turu.short_title }}
                                    </a>
                                    <!-- Card title -->
                                    <h1 class="text-white display-5">{{ icerik.h1 }}</h1>
                                    <!-- Card info -->
                                    <ul class="nav nav-divider text-white-force align-items-center justify-content-center">
                                        <li class="nav-item">
                                            <div class="nav-link">
                                                <div class="d-flex align-items-center text-white position-relative">
                                                    <div class="avatar avatar-sm">
                                                        <img class="avatar-img rounded-circle"
                                                             src="{% static 'yeni/assets/images/avatar/11.jpg' %}"
                                                             alt="avatar">
                                                    </div>
                                                    <span class="ms-3"><a href="{% url 'hakkimizda' %}"
                                                                          class="stretched-link text-reset btn-link">{{ icerik.yazar }}</a></span>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="nav-item">{{ icerik.olusturma_tarihi|date:"d F Y" }}</li>
                                        <li class="nav-item">5 Dakika Okuma Süresi</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- =======================
        Inner intro END -->

        <!-- =======================
        Main START -->
        <section class="pt-0">
            <div class="container position-relative" data-sticky-container>
                <div class="row">
                    <!-- Main Content START -->
                    <div class="col-lg-9 mb-5">
                        {% if icerik.icerik %}
                            {{ icerik.icerik|safe }}
                        {% endif %}


                        {% if icerik.icerik2 %}
                            {{ icerik.icerik2|safe }}
                        {% endif %}

                        {% if icerik.icerik3 %}
                            {{ icerik.icerik3|safe }}
                        {% endif %}

                        <!-- Author info START -->
                        <div class="d-flex p-2 p-md-4 my-3 bg-primary bg-opacity-10 rounded">
                            <!-- Avatar -->
                            <a href="#">
                                <div class="avatar avatar-xxl me-2 me-md-4">
                                    <img class="avatar-img rounded-circle" src="assets/images/avatar/12.jpg"
                                         alt="avatar">
                                </div>
                            </a>
                            <!-- Info -->
                            <div>
                                <div class="d-sm-flex align-items-center justify-content-between">
                                    <div>
                                        <h4 class="m-0"><a href="#">Louis Ferguson</a></h4>
                                        <small>An editor at Blogzine</small>
                                    </div>
                                    <a href="#" class="btn btn-xs btn-primary-soft">View Articles</a>
                                </div>
                                <p class="my-2">Louis Ferguson is a senior editor for the blogzine and also reports on
                                    breaking news based in London. He has written about government, criminal justice,
                                    and
                                    the role of money in politics since 2015.</p>
                                <!-- Social icons -->
                                <ul class="nav">
                                    <li class="nav-item">
                                        <a class="nav-link ps-0 pe-2 fs-5" href="#"><i
                                                class="fab fa-facebook-square"></i></a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link px-2 fs-5" href="#"><i class="fab fa-twitter-square"></i></a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link px-2 fs-5" href="#"><i class="fab fa-linkedin"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- Author info END -->


                    </div>
                    <!-- Main Content END -->

                    <!-- Right sidebar START -->
                    {% include 'YeniTema/parcalar/sidebar.html' %}
                    <!-- Right sidebar END -->
                </div>
            </div>
        </section>
        <!-- =======================
        Main END -->

        <!-- =======================
        Sticky post START -->
        <div class="sticky-post bg-light border p-4 mb-5 text-sm-end rounded d-none d-xxl-block">
            <div class="d-flex align-items-center">
                <!-- Title -->
                <div class="me-3">
                    <span>Next post<i class="bi bi-arrow-right ms-3"></i></span>
                    <h6 class="m-0"><a href="javascript:void(0)" class="stretched-link btn-link text-reset">Bad habits
                        that
                        people in the industry need to quit</a></h6>
                </div>
                <!-- image -->
                <div class="col-4 d-none d-md-block">
                    <img src="assets/images/blog/4by3/05.jpg" alt="Image">
                </div>
            </div>
        </div>
        <!-- =======================
        Sticky post END -->

    </main>
    <!-- **************** MAIN CONTENT END **************** -->
{% endblock main %}








{% block extra_js %}
    <!-- Bootstrap JS -->
    <script src="{% static 'yeni/assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Vendors -->
    <script src="{% static 'yeni/assets/vendor/glightbox/js/glightbox.js' %}"></script>
    <script src="{% static 'yeni/assets/vendor/sticky-js/sticky.min.js' %}"></script>
    <script src="{% static 'yeni/assets/vendor/vanilla-lazyload/lazyload.min.js' %}"></script>

    <!-- Template Functions -->
    <script src="{% static 'yeni/assets/js/functions.js' %}"></script>
{% endblock extra_js %}