{% extends 'newBase.html' %}
{% load static %}



{% block main %}
    <!-- **************** MAIN CONTENT START **************** -->
    <main>

        <!-- =======================
        Inner intro START -->
        <section class="pt-4">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h1 class="display-5">{{ H1 }}</h1>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item"><a href="{% url 'newHome' %}"><i
                                        class="bi bi-house me-1"></i>
                                    Ana Sayfa</a></li>
                                <li class="breadcrumb-item active">{{ Post_Kategorisi.name }}</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </section>
        <!-- =======================
        Inner intro END -->

        <!-- =======================
        Main content START -->
        <section class="position-relative pt-0">
            <div class="container" data-sticky-container>
                <div class="row">
                    <!-- Main Post START -->
                    <div class="col-lg-9">
                        <div class="row gy-4">
                            {% for Post in TumPost %}
                                {% if forloop.first %}
                                    <!-- Card item START -->
                                    <div class="col-12">
                                        <div class="card overflow-hidden">
                                            <!-- Card img -->
                                            <div class="position-relative">
                                                <img class="card-img lazy" src="{{ Post.resim.url }}"
                                                     alt="{{ Post.title }}">
                                                <!-- Card featured -->
                                                <span class="card-featured" title="Featured post"><i
                                                        class="fas fa-star"></i></span>
                                                <div class="card-img-overlay d-flex align-items-start flex-column p-3">
                                                    <!-- Card overlay bottom -->
                                                    <div class="w-100 mt-auto">
                                                        <!-- Card category -->
                                                        <a href="#" class="badge text-bg-{{ Post.Post_Turu.renk }} mb-2"><i
                                                                class="fas fa-circle me-2 small fw-bold"></i>{{ Post.Post_Turu.short_title }}</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-body px-0 pt-3">
                                                <h2 class="card-title"><a href="post-single-3.html"
                                                                          class="btn-link text-reset fw-bold">{{ Post.h1 }}</a></h2>
                                                <p class="card-text">{{ Post.icerik|truncatechars:175|safe }}</p>
                                                <!-- Card info -->
                                                <ul class="nav nav-divider align-items-center d-none d-sm-inline-block">
                                                    <li class="nav-item">
                                                        <div class="nav-link">
                                                            <div class="d-flex align-items-center position-relative">
                                                                <div class="avatar avatar-xs">
                                                                    <img class="avatar-img rounded-circle"
                                                                         src="{% static 'yeni/assets/images/avatar/01.jpg' %}" alt="avatar">
                                                                </div>
                                                                <span class="ms-3"><a href="#"
                                                                                         class="stretched-link text-reset btn-link">{{ Post.yazar }}</a></span>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li class="nav-item">{{ Post.olusturma_tarihi|date:"d M Y" }}</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Card item END -->
                                {% else %}
                                    <!-- Card item START -->
                                    <div class="col-sm-6">
                                        <div class="card">
                                            <!-- Card img -->
                                            <div class="position-relative">
                                                <img class="card-img lazy" src="{{ Post.resim.url }}"
                                                     alt="Card image">
                                                <div class="card-img-overlay d-flex align-items-start flex-column p-3">
                                                    <!-- Card overlay Top -->
                                                    <div class="w-100 mb-auto d-flex justify-content-end">
                                                        <div class="text-end ms-auto">
                                                            <!-- Card format icon -->
                                                            <div class="icon-md bg-white bg-opacity-25 bg-blur text-white rounded-circle"
                                                                 title="This post has video"><i
                                                                    class="fas fa-video"></i></div>
                                                        </div>
                                                    </div>
                                                    <!-- Card overlay bottom -->
                                                    <div class="w-100 mt-auto">
                                                        <!-- Card category -->
                                                        <a href="#" class="badge text-bg-{{ Post.Post_Turu.renk }} mb-2"><i
                                                                class="fas fa-circle me-2 small fw-bold"></i>{{ Post.Post_Turu.short_title }}</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-body px-0 pt-3">
                                                <h4 class="card-title"><a href="post-single-3.html"
                                                                          class="btn-link text-reset fw-bold">{{ Post.h1 }}</a></h4>
                                                <p class="card-text">{{ Post.icerik|truncatechars:175|safe }}</p>
                                                <!-- Card info -->
                                                <ul class="nav nav-divider align-items-center d-none d-sm-inline-block">
                                                    <li class="nav-item">
                                                        <div class="nav-link">
                                                            <div class="d-flex align-items-center position-relative">
                                                                <div class="avatar avatar-xs">
                                                                    <img class="avatar-img rounded-circle"
                                                                         src="{% static 'yeni/assets/images/avatar/02.jpg' %}" alt="avatar">
                                                                </div>
                                                                <span class="ms-3"><a href="#"
                                                                                         class="stretched-link text-reset btn-link">{{ Post.yazar }}</a></span>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li class="nav-item">{{ Post.olusturma_tarihi|date:"d M Y" }}</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Card item END -->
                                {% endif %}
                            {% endfor %}





                            <!-- pagination START -->
                            <nav class="mt-5" aria-label="navigation">
                                <ul class="pagination d-flex justify-content-between">
                                    <li class="page-item flex-fill text-center">
                                        <a href="#" class="page-link"> <i
                                                class="fas fa-long-arrow-alt-left me-2 rtl-flip"></i>Önceki</a>
                                    </li>
                                    <li class="page-item flex-fill text-center">
                                        <a href="#" class="page-link">Sonraki<i
                                                class="fas fa-long-arrow-alt-right ms-2 rtl-flip"></i></a>
                                    </li>
                                </ul>
                            </nav>
                            <!-- pagination END -->
                        </div>
                    </div>
                    <!-- Main Post END -->

                    <!-- Sidebar START -->
                    {% include 'YeniTema/parcalar/sidebar.html' %}
                    <!-- Sidebar END -->
                </div> <!-- Row end -->
            </div>
        </section>
        <!-- =======================
        Main content END -->

    </main>
    <!-- **************** MAIN CONTENT END **************** -->
{% endblock main %}