{% extends 'newBase.html' %}
{% load static %}


<!-- Meta Tag Başlangıç -->
{% block MetaTag %}
    <title>{{ title }}</title>
    <meta name="description" content="{{ description }}">
    <meta name="keywords" content="{{ keywords }}">
    <meta name="author" content="Yüksek Teknoloji">

    <!-- Canonical Link -->
    <link rel="canonical" href="{{ request.build_absolute_uri }}">
{% endblock MetaTag %}



<!--  Open Graph / Facebook Tag Başlangıç -->
{% block OgTag %}
    <meta property="og:title" content="{{ title }}">
    <meta property="og:description" content="{{ description }}">
    <meta property="og:url" content="{{ request.build_absolute_uri }}">
    <meta property="og:image" content="{{ Post_Kategorisi.resim }}">
    <meta property="og:image:width" content="960"/>
    <meta property="og:image:height" content="640"/>
{% endblock OgTag %}
<!--  Open Graph / Facebook Tag Bitiş -->

<!--  tt Tag Başlangıç -->
{% block ttTag %}
    <meta name="twitter:title" content="{{ title }}">
    <meta name="twitter:description" content="{{ description }}">
    <meta name="twitter:url" content="https://x.com/yuksekteknloji">
    <meta name="twitter:image" content="{{ Post_Kategorisi.resim }}">
{% endblock ttTag %}
<!--  tt Tag Bitiş -->


<!--  extra_Kod Başlangıç -->
{% block extra_Kod %}
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static 'yeni/assets/images/favicon.ico' %}">

    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700&family=Rubik:wght@400;500;700&display=swap"
          rel="stylesheet">

    <!-- Plugins CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'yeni/assets/vendor/font-awesome/css/all.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'yeni/assets/vendor/bootstrap-icons/bootstrap-icons.css' %}">


    <!-- Theme CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'yeni/assets/css/style.css' %}">
{% endblock extra_Kod %}
<!--  extra_Kod Bitiş -->


{% block main %}
    <!-- **************** MAIN CONTENT START **************** -->
    <main>

        <!-- ======= Hero Slider Section ======= -->
        <section id="contact" class="contact mb-5">
            <div class="container" data-aos="fade-up">

                <div class="row">
                    <div class="col-lg-12 text-center mb-5">
                        <h1 class="page-title">{{ h1 }}</h1>
                    </div>
                </div>

                <div class="row gy-4">

                    <div class="col-md-4">
                        <div class="info-item">
                            <i class="bi bi-geo-alt"></i>
                            <h3>Adres</h3>
                            <address>İnönü Mah. Halkalı cad. No:206 - Küçükçekmece - İSTANBUL</address>
                        </div>
                    </div><!-- End Info Item -->

                    <div class="col-md-4">
                        <div class="info-item info-item-borders">
                            <i class="bi bi-phone"></i>
                            <h3>Telefon - Whatsapp</h3>
                            <p><a href="tel:+08503033935">+0850 303 39 35 </a></p>
                        </div>
                    </div><!-- End Info Item -->

                    <div class="col-md-4">
                        <div class="info-item">
                            <i class="bi bi-envelope"></i>
                            <h3>Email</h3>
                            <p><a href="mailto:yuksekteknoloji@gmail.com">yuksekteknoloji@gmail.com</a></p>
                        </div>
                    </div><!-- End Info Item -->

                </div>

                <div class="contact-form mt-5">
                    <form action="{% url 'iletisim' %}" method="post" class="php-email-form">
                        {% csrf_token %}
                        <div class="row">
                            <div class="form-group col-md-6">
                                <input type="text" name="name" class="form-control" id="name" placeholder="isim"
                                       required>
                            </div>
                            <div class="form-group col-md-6">
                                <input type="email" class="form-control" name="email" id="email"
                                       placeholder="Mail Adresi"
                                       required>
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" name="title" id="subject" placeholder="Konu"
                                   required>
                        </div>
                        <div class="form-group">
                        <textarea class="form-control" name="icerik" rows="7" placeholder="Mesajınız"
                                  required></textarea>
                        </div>

                        <div class="g-recaptcha" data-sitekey="6LdEk_0pAAAAAIrT3QJjZAVox11KV4cM7KHOLevL"></div>
                        <div class="text-center">
                            <button type="submit" name="submit" id="submit" value="Submit" class="btn btn-warning">
                                Mesajı
                                Gönder
                            </button>
                        </div>
                    </form>
                </div><!-- End Contact Form -->


            </div>
        </section>

    </main>
    <!-- **************** MAIN CONTENT END **************** -->
{% endblock main %}



{% block extra_js %}
    <!-- Bootstrap JS -->
    <script src="{% static 'yeni/assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Vendors -->

    <script src="{% static 'yeni/assets/vendor/sticky-js/sticky.min.js' %}"></script>
    <script src="{% static 'yeni/assets/vendor/vanilla-lazyload/lazyload.min.js' %}"></script>

    <!-- Template Functions -->
    <script src="{% static 'yeni/assets/js/functions.js' %}"></script>
{% endblock extra_js %}