{% extends 'base.html' %}
{% load static %}

{% block title %}{{ title }}{% endblock %}
{% block description %}{{ description }}{% endblock %}
{% block keywords %}{{ keywords }}{% endblock %}
{% block yazar %}{{ yazar }}{% endblock %}
{% block ogtitle %}{{ title }}{% endblock %}
{% block ogDes %}{{ description }}{% endblock %}
{% block ogurl %}{{ request.build_absolute_uri }}{% endblock %}
{% block ogtype %}article{% endblock %}

{% block twaccountsite %}@Melih{% endblock %}
{% block twcreator %}@Melih{% endblock %}
{% block twtitle %}{{ title }}{% endblock %}
{% block twdesc %}{{ description }}{% endblock %}

{% block sosyal_post_image %}
    <meta property="og:image" content="{{ icerik.resim.url }}">{% endblock %}
{% block tt_post_image %}
    <meta name="twitter:image" content="{{ icerik.resim.url }}">{% endblock %}


{% block extra_head %}
    <script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "NewsArticle",
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "{{ request.build_absolute_uri }}"
    },
  "headline": "{{ icerik.title }}",
  "description": "{{ icerik.meta_description }}",
  "datePublished": "{{ icerik.olusturma_tarihi.isoformat }}",
  "dateModified": "{{ icerik.guncelleme_tarihi.isoformat }}",

  {% if icerik.youtube %}
  "video": {
    "@type": "VideoObject",
    "name": "{{ icerik.title }}",
    "description": "{{ icerik.meta_description }}",
    "uploadDate": "{{ icerik.olusturma_tarihi.isoformat }}",
    "thumbnailUrl": "{{ thumbnail_url }}",
    "embedUrl": "{{ icerik.youtube }}"

    },
  {% endif %}

  "keywords": "{{ icerik.keywords }}",

  "author": {
  "@type": "Person",
  "name": "{{ icerik.yazar }}"
      },
  "image": {
    "@type": "ImageObject",
    "url": "{{ icerik.resim.url }}"
  },
  "publisher": {
      "@type": "Organization",
      "name": "Yüksek Teknoloji",
      "logo": {
        "@type": "ImageObject",
        "url": "https://teknolojibucket.s3.amazonaws.com/static/assets/logo/logo.webp"
      }
    },

  "articleSection": "{{ icerik.Post_Turu.short_title }} Haberleri",
  "isFamilyFriendly": "true",
  "interactionStatistic": {
    "@type": "InteractionCounter",
    "interactionType": { "@type": "https://schema.org/ReadAction" },
    "userInteractionCount": "{{ icerik.okunma_sayisi }}"
    }


}
</script>
{% endblock %}



{% block extra_Two_head %}
    <script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement": [
    {
      "@type": "ListItem",
      "position": 1,
      "name": "En Son Teknoloji, Bilim, Oyun ve Otomobil Haberleri",
      "item": "https://www.yuksekteknoloji.com/"
    },
    {
      "@type": "ListItem",
      "position": 2,
      "name": "{{ icerik.Post_Turu.H1 }}",
      "item": "https://www.yuksekteknoloji.com/{{ icerik.Post_Turu.slug }}/"
    },
    {
      "@type": "ListItem",
      "position": 3,
      "name": "{{ icerik.title }}",
      "item": "https://www.yuksekteknoloji.com/{{ icerik.slug }}/"
    }
  ]

}
</script>
{% endblock %}





{% block pageicerik %}

    <section class="single-post-content">
        <div class="container">
            <div class="row">
                <div class="col-md-9 post-content" data-aos="fade-up">

                    <!-- ======= Single Post Content ======= -->
                    <div class="single-post">
                        <div class="post-meta"><span class="date">{{ icerik.Post_Turu }}</span> <span class="mx-1">&bullet;</span>
                            <span>{{ icerik.olusturma_tarihi|date:"d F Y" }}</span>
                        </div>
                        <h1 class="mb-5">{{ H1 }}</h1>
                        <figure class="my-4">
                            <img src="{{ icerik.resim.url }}" alt="{{ icerik.title }}"
                                 class="img-fluid" height="400" width="650"
                                 style="margin: auto; display: block; border-radius: 20px;">
                            <!--    <figcaption>Resim Açıklaması Kapalı
                                </figcaption> -->
                        </figure>

                        {% if icerik.youtube %}
                            <br>
                            <br>
                            <div style="position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden;">
                                <iframe style="position: absolute; top:0; left: 0; width: 100%; height: 100%;"
                                        src="{{ icerik.youtube }}"
                                        title="{{ icerik.title }}"
                                        frameborder="0"
                                        allowfullscreen></iframe>
                            </div>
                            <br>
                            <br>
                            <br>
                        {% endif %}


                        <p><span
                                class="firstcharacter">{{ icerik.icerik|safe|slice:"3:4" }}</span> {{ icerik.icerik|safe|slice:"4:" }}
                        </p>
                        {% if twitterwidget %}
                            <div style="display: flex; justify-content: center;">
                                {{ twitterwidget|safe }}
                            </div>
                        {% endif %}

                    </div><!-- End Single Post Content -->


                </div>
                {% include 'parcali/sagnavbar.html' %}
            </div>
        </div>
    </section>


{% endblock pageicerik %}