{% extends 'base.html' %}
{% load static %}

{% block title %}{{ title }}{% endblock %}
{% block description %}{{ description }}{% endblock %}
{% block keywords %}{{ keywords }}{% endblock %}
{% block ogtitle %}{{ title }}{% endblock %}
{% block ogDes %}{{ description }}{% endblock %}
{% block ogurl %}{{ request.build_absolute_uri }}{% endblock %}

{% block twaccountsite %}@yuksekteknloji{% endblock %}
{% block twcreator %}@yuksekteknloji{% endblock %}
{% block twtitle %}{{ title }}{% endblock %}
{% block twdesc %}{{ description }}{% endblock %}



{% block pageicerik %}
    <section id="contact" class="contact mb-5">
        <div class="container" data-aos="fade-up">


            <h1>Yüksek teknoloji Gizlilik Politikası</h1>

            <p>Yüksekteknoloji'den erişilebilir https://www.yuksekteknoloji.com , ana önceliklerimizden biri
                ziyaretçilerimizin mahremiyetidir. Bu Gizlilik Politikası belgesi, yüksekteknoloji tarafından toplanan
                ve kaydedilen bilgi türlerini ve bunları nasıl kullandığımızı içerir. </p>

            <p> Başka sorularınız varsa veya Gizlilik Politikamız hakkında daha fazla bilgiye ihtiyacınız varsa, bizimle
                iletişime geçmekten çekinmeyin. </p>

            <p> Bu Gizlilik Politikası yalnızca çevrimiçi faaliyetlerimiz için geçerlidir ve yüksekteknoloji'de
                paylaştıkları ve/ veya topladıkları bilgilerle ilgili olarak web sitemizi ziyaret edenler için
                geçerlidir. Bu politika, çevrimdışı veya bu web sitesi dışındaki kanallar aracılığıyla toplanan hiçbir
                bilgi için geçerli değildir.</p>

            <h2>Onay</h2>

            <p> Web sitemizi kullanarak, Gizlilik Politikamızı kabul etmiş ve şartlarını kabul etmiş olursunuz. </p>

            <h2> Topladığımız bilgiler </h2>

            <p> Sağlamanız istenen kişisel bilgiler ve bunu sağlamanızın nedenleri, kişisel bilgilerinizi sağlamanızı
                istediğimiz noktada size açıkça belirtilecektir. </p>

            <p> Doğrudan bizimle iletişime geçerseniz, adınız, e-posta adresiniz, telefon numaranız, bize
                gönderebileceğiniz mesajın içeriği ve/veya ekleri ve sağlamayı seçebileceğiniz diğer bilgiler gibi
                hakkınızda ek bilgiler alabiliriz. </p>

            <p> Bir Hesaba kaydolduğunuzda, ad, şirket adı, adres, e-posta adresi ve telefon numarası gibi öğeler de
                dahil olmak üzere iletişim bilgilerinizi isteyebiliriz. </p>

            <h2> Bilgilerinizi nasıl kullanıyoruz </h2>

            <p> Topladığımız bilgileri aşağıdakiler de dahil olmak üzere çeşitli şekillerde kullanırız: </p>

            <ul>
                <li>Web sitemizi sağlamak, işletmek ve bakımını yapmak</li>
                <li>Web sitemizi geliştirin, kişiselleştirin ve genişletin</li>
                <li>Web sitemizi nasıl kullandığınızı anlayın ve analiz edin</li>
                <li>Yeni ürünler, hizmetler, özellikler ve işlevler geliştirin</li>
                <li>Web sitesiyle ilgili güncellemeleri ve diğer bilgileri size sağlamak ve pazarlama ve tanıtım
                    amacıyla müşteri hizmetleri de dahil olmak üzere doğrudan veya ortaklarımızdan biri aracılığıyla
                    sizinle iletişim kurun
                </li>
                <li>Size e-posta gönderin</li>
                <li>Sahtekarlığı bulun ve önleyin</li>
            </ul>

            <h2> Günlük Dosyaları </h2>

            <p> yüksek teknoloji, günlük dosyalarını kullanmak için standart bir prosedür izler. Bu dosyalar, web
                sitelerini ziyaret ettiklerinde ziyaretçileri günlüğe kaydeder. Tüm barındırma şirketleri bunu yapar ve
                barındırma hizmetleri analizinin bir parçasıdır. Günlük dosyaları tarafından toplanan bilgiler arasında
                internet protokolü (IP) adresleri, tarayıcı türü, İnternet Servis Sağlayıcısı (ISS), tarih ve saat
                damgası, yönlendiren / çıkan sayfalar ve muhtemelen tıklama sayısı bulunur. Bunlar, kişisel olarak
                tanımlanabilir herhangi bir bilgiyle bağlantılı değildir. Bilgilerin amacı eğilimleri analiz etmek,
                siteyi yönetmek, kullanıcıların web sitesindeki hareketlerini izlemek ve demografik bilgileri
                toplamaktır. </p>

            <h2> Çerezler ve Web İşaretçileri </h2>

            Diğer tüm web siteleri gibi, yüksek teknoloji de "çerezler" kullanır. Bu çerezler, ziyaretçilerin tercihleri
            ve ziyaretçinin eriştiği veya ziyaret ettiği web sitesindeki sayfalar dahil olmak üzere bilgileri depolamak
            için kullanılır. Bu bilgiler, web sayfası içeriğimizi ziyaretçilerin tarayıcı türüne ve / veya diğer
            bilgilere göre özelleştirerek kullanıcı deneyimini optimize etmek için kullanılır. </p>

            <h2> Google DoubleClick DART Çerezi </h2>

            <p> Google, sitemizdeki üçüncü taraf bir satıcıdan biridir. Ayrıca, ziyaretlerine göre site
                ziyaretçilerimize reklam sunmak için DART çerezleri olarak bilinen çerezleri kullanır. www.website.com
                ve internetteki diğer siteler. Ancak ziyaretçiler, aşağıdaki url'deki Google reklam ve içerik ağı
                Gizlilik Politikasını ziyaret ederek DART çerezlerinin kullanımını reddetmeyi seçebilirler – <a
                        href="https://policies.google.com/technologies/ads ">https://policies.google.com/technologies/ads </a>
            </p>

            <h2> Reklam Ortaklarımız </h2>

            <p> Sitemizdeki bazı reklamverenler çerezleri ve web işaretlerini kullanabilir. Reklam ortaklarımız aşağıda
                listelenmiştir. Reklam ortaklarımızın her birinin, kullanıcı verileriyle ilgili politikaları için kendi
                Gizlilik Politikası vardır. Daha kolay erişim için aşağıdaki Gizlilik Politikalarına köprü oluşturduk. <
                / p>

            <ul>
                <li> Google: <a href="https://policies.google.com/technologies/ads ">https://policies.google.com/technologies/ads </a>
                </li>
            </ul>

            <h2> Reklam Ortakları Gizlilik Politikaları </h2>

            <p> Yüksekteknoloji'nin reklam ortaklarının her birinin Gizlilik Politikasını bulmak için bu listeye
                başvurabilirsiniz. </p>

                Üçüncü taraf reklam sunucuları veya reklam ağları, ilgili reklamlarında kullanılan çerezler, JavaScript
                veya Web İşaretleri gibi teknolojileri ve doğrudan kullanıcıların tarayıcısına gönderilen yüksek
                teknoloji'de görünen bağlantıları kullanır. Bu olduğunda IP adresinizi otomatik olarak alırlar. Bu
                teknolojiler, reklam kampanyalarının etkinliğini ölçmek ve / veya ziyaret ettiğiniz web sitelerinde
                gördüğünüz reklam içeriğini kişiselleştirmek için kullanılır. </p>

            <p> Yüksekteknoloji'nin üçüncü taraf reklamverenler tarafından kullanılan bu çerezlere erişimi veya kontrolü
                olmadığını unutmayın. </p>

            <h2> Üçüncü Taraf Gizlilik Politikaları </h2>

            <p> yüksekteknoloji'nin Gizlilik Politikası diğer reklamverenler veya web siteleri için geçerli değildir. Bu
                nedenle, daha ayrıntılı bilgi için bu üçüncü taraf reklam sunucularının ilgili Gizlilik Politikalarına
                başvurmanızı tavsiye ediyoruz. Belirli seçeneklerden nasıl vazgeçileceğine ilişkin uygulamalarını ve
                talimatlarını içerebilir. </p>

            <p> Bireysel tarayıcı seçenekleriniz aracılığıyla çerezleri devre dışı bırakmayı seçebilirsiniz. Belirli web
                tarayıcılarıyla çerez yönetimi hakkında daha ayrıntılı bilgi edinmek için, tarayıcıların ilgili web
                sitelerinde bulunabilir. </p>

            <h2> CCPA Gizlilik Hakları (Kişisel Bilgilerimi Satmayın) </h2>

            <p> CCPA kapsamında, diğer hakların yanı sıra, Kaliforniyalı tüketiciler şu haklara sahiptir: </p>

            <p> Bir tüketicinin kişisel verilerini toplayan bir işletmeden, bir işletmenin tüketiciler hakkında
                topladığı kategorileri ve belirli kişisel veri parçalarını açıklamasını isteyin. </p>

            <p> Bir işletmenin, bir işletmenin topladığı tüketici hakkındaki tüm kişisel verileri silmesini isteyin. < /
                p>

            <p> Tüketicinin kişisel verilerini satan bir işletmenin, tüketicinin kişisel verilerini satmamasını isteyin.
                </p>

            <p> Bir istekte bulunursanız, size yanıt vermek için bir ayımız vardır. Bu haklardan herhangi birini
                kullanmak istiyorsanız, lütfen bizimle iletişime geçin. </p>

            <h2> GDPR Veri Koruma Hakları </h2>

            <p> Tüm veri koruma haklarınızın tam olarak farkında olduğunuzdan emin olmak istiyoruz. Her kullanıcının
                aşağıdakilere hakkı vardır: </p>

            <p> Erişim hakkı - Kişisel verilerinizin kopyalarını talep etme hakkına sahipsiniz. Bu hizmet için sizden
                küçük bir ücret talep edebiliriz. </p>

                Düzeltme hakkı - Yanlış olduğunu düşündüğünüz herhangi bir bilgiyi düzeltmemizi talep etme hakkına
                sahipsiniz. Ayrıca eksik olduğuna inandığınız bilgileri tamamlamamızı talep etme hakkına da sahipsiniz.
                </p>

            <P> Silme hakkı - Kişisel verilerinizi belirli koşullar altında silmemizi talep etme hakkına sahipsiniz. < /
                p>

            <P> İşlemeyi kısıtlama hakkı - Kişisel verilerinizin belirli koşullar altında işlenmesini kısıtlamamızı
                talep etme hakkına sahipsiniz. </p>

            <P> İşleme itiraz etme hakkı - Kişisel verilerinizi belirli koşullar altında işlememize itiraz etme hakkınız
                vardır. </p>

            <P> Veri taşınabilirliği hakkı - Topladığımız verileri belirli koşullar altında başka bir kuruluşa veya
                doğrudan size aktarmamızı talep etme hakkınız vardır. </p>

            <p> Bir istekte bulunursanız, size yanıt vermek için bir ayımız vardır. Bu haklardan herhangi birini
                kullanmak istiyorsanız, lütfen bizimle iletişime geçin. </p>

            <h2> Çocuk Bilgileri </h2>

            <p> Önceliğimizin bir diğer kısmı da interneti kullanırken çocuklar için koruma sağlamaktır. Ebeveynleri ve
                velileri çevrimiçi etkinliklerini gözlemlemeye, katılmaya ve / veya izlemeye ve yönlendirmeye teşvik
                ediyoruz. </p>

            <p> yüksekteknoloji, 13 yaşın altındaki çocuklardan bilerek herhangi bir Kişisel Tanımlanabilir Bilgi
                toplamaz. Çocuğunuzun bu tür bilgileri web sitemizde sağladığını düşünüyorsanız, derhal bizimle
                iletişime geçmenizi şiddetle tavsiye ederiz ve bu tür bilgileri kayıtlarımızdan derhal kaldırmak için
                elimizden gelenin en iyisini yapacağız. </p>

            <p>Çerez Politikamız hakkında herhangi bir sorunuz varsa, lütfen bizimle <a href="{% url 'iletisim' %}"
                                                                                        style="color: red;">iletişime
                geçin</a>.
                <!--
            <h1>Gizlilik Politikası</h1>
            <br>
            <h2>Kişisel Bilgilerin Toplanması ve Kullanılması</h2>
            <br>
            <p>https://www.yuksekteknoloji.com olarak, ziyaretçilerimizin gizliliğini korumak için çeşitli önlemler
                alıyoruz. Web sitemizi ziyaret ettiğinizde, IP adresinizi ve hangi sayfaları ziyaret ettiğinizi
                kaydediyoruz. Bu bilgiler genel istatistiksel amaçlarla ve web sitemizi geliştirmek için kullanılır.</p>
            <h2>Google AdSense ve Çerezler</h2>
            <br>
            <p>Web sitemizde Google AdSense kullanıyoruz. Google AdSense, kullanıcıların ilgi alanlarına göre
                hedeflenmiş reklamlar sunar. Google AdSense, çerezleri kullanarak kullanıcıların ilgi alanlarını
                belirler.</p>
            <p>Google AdSense'in çerezleri nasıl kullandığı hakkında daha fazla bilgi edinmek için <a
                    href="https://policies.google.com/technologies/ads" style="color: red;">Google Gizlilik
                Politikası</a>'nı ziyaret
                edebilirsiniz.</p>
            <h2>Çerezlerin Kullanımı</h2>
            <br>
            <p>Web sitemizde çerezler kullanıyoruz. Çerezler, web tarayıcınız tarafından bilgisayarınıza yerleştirilen
                küçük dosyalardır. Çerezler, web sitemizin düzgün çalışmasını sağlar ve bize web sitemizi nasıl
                kullandığınız konusunda bilgi verir.</p>
            <p>Çerezleri nasıl kontrol edeceğiniz dahil, çerezler hakkında daha fazla bilgi edinmek için <a
                    href="{% url 'cerez' %}" style="color: red;">Çerez Politikamız</a>'ı ziyaret edebilirsiniz.</p>
            <h2>Değişiklikler</h2>
            <br>
            <p>Bu Gizlilik Politikası'nı zaman zaman güncelleyebiliriz. Değişiklikler yapıldığında bu sayfayı
                güncelleyeceğiz. Bu Gizlilik Politikası'nın düzenli olarak gözden geçirilmesini öneririz.</p>
            <h2>İletişim</h2>
            <br>
            <p>Çerez Politikamız hakkında herhangi bir sorunuz varsa, lütfen bizimle <a href="{% url 'iletisim' %}"
                                                                                        style="color: red;">iletişime
                geçin</a>.</p>-->

        </div>
    </section>

{% endblock pageicerik %}