{% extends 'base.html' %}
{% load static %}

{% block title %}{{ title }}{% endblock %}
{% block description %}{{ description }}{% endblock %}
{% block keywords %}{{ keywords }}{% endblock %}
{% block yazar %}{{ yazar }}{% endblock %}
{% block ogtitle %}{{ title }}{% endblock %}
{% block ogDes %}{{ description }}{% endblock %}
{% block ogurl %}{{ request.build_absolute_uri }}{% endblock %}

{% block twaccountsite %}@yuksekteknloji{% endblock %}
{% block twcreator %}@yuksekteknloji{% endblock %}
{% block twtitle %}{{ title }}{% endblock %}
{% block twdesc %}{{ description }}{% endblock %}



{% block extra_head %}
    <script type="application/ld+json">

    {
        "@context": "https://schema.org",
        "@type": "WebSite",
        "url": "https://www.yuksekteknoloji.com/",
        "name": "Yüksek Teknoloji",
        "description": "{{ description }}",
        "keywords": "{{ keywords }}",
        "publisher": {
          "@type": "Organization",
          "name": "Yüksek Teknoloji",
          "logo": {
            "@type": "ImageObject",
            "url": "https://teknolojibucket.s3.amazonaws.com/static/assets/logo/logo.webp"
          }
        }
    }
</script>

{% endblock extra_head %}


{% block extra_Two_head %}
    <script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement": [
    {
      "@type": "ListItem",
      "position": 1,
      "name": "En Son Teknoloji, Bilim, Oyun ve Otomobil Haberleri",
      "item": "https://www.yuksekteknoloji.com/"
    }
  ]

}
</script>
{% endblock %}


{% block pageicerik %}
    <!-- ======= Hero Slider Section ======= -->
    <h1 style="display: none;">Yüksek Teknoloji | Bilgisayar, Telefon, Oyun ve Otomobil Haberleri</h1>

    <section id="hero-slider" class="hero-slider">
        <div class="container-md" data-aos="fade-in">
            <div class="row">
                <div class="col-12">
                    <div class="swiper sliderFeaturedPosts">
                        <div class="swiper-wrapper">


<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    {% for carousel in Banner %}
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="{{ forloop.counter0 }}" {% if forloop.first %}class="active" aria-current="true"{% endif %} aria-label="Slide {{ forloop.counter }}"></button>
    {% endfor %}
  </div>
  <div class="carousel-inner">
    {% for carousel in Banner %}
    <div class="carousel-item {% if forloop.first %}active{% endif %}">
      <img src="{{ carousel.resim.url }}" class="d-block w-100" alt="{{ carousel.title }}">
      <div class="carousel-caption d-none d-md-block">
        <h5>{{ carousel.title }}</h5>
        <p>{{ carousel.icerik|truncatechars:120|safe }}</p>
      </div>
    </div>
    {% endfor %}
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Önceki</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Sonraki</span>
  </button>
</div>



                        </div>
                        <div class="custom-swiper-button-next">
                            <span class="bi-chevron-right"></span>
                        </div>
                        <div class="custom-swiper-button-prev">
                            <span class="bi-chevron-left"></span>
                        </div>

                        <div class="swiper-pagination"></div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- End Hero Slider Section -->

    <!-- ======= Post Grid Section ======= -->
    <section id="posts" class="posts">
        <div class="container" data-aos="fade-up">
            <div class="row g-5">
                <div class="section-header d-flex justify-content-between align-items-center mb-5">
                    <h2>Teknoloji</h2>
                    <div><a href="{% url 'teknoloji' %}" class="more">Teknoloji Haberleri</a></div>
                </div>

                <div class="col-lg-12">
                    <div class="row g-5">
                        <div class="col-lg-4 border-start custom-border">
                            {% for solX in HomeTeknolojiSol %}
                                <div class="post-entry-1">
                                    <a href="{% url 'post-getir' post_slug=solX.slug %}"><img src="{{ solX.resim.url }}"
                                                                                              alt="{{ solX.title }}"
                                                                                              class="img-fluid"
                                                                                              height="200" width="400"
                                                                                              loading="lazy"
                                                                                              style="border-radius: 10px; margin-bottom: 10px;"></a>
                                    <div class=class="post-meta" style="color: #8C0D0D;"><span
                                            class="date">{{ solX.Post_Turu.short_title }}</span>
                                        <span
                                                class="mx-1">&bullet;</span>
                                        <span>{{ solX.olusturma_tarihi|date:"d F Y" }}</span></div>
                                    <h2><a href="{% url 'post-getir' post_slug=solX.slug %}">{{ solX.title }}</a></h2>
                                </div>
                            {% endfor %}

                        </div>
                        <div class="col-lg-4 border-start custom-border">
                            {% for sagX in HomeTeknolojiSag %}
                                <div class="post-entry-1">
                                    <a href="{% url 'post-getir' post_slug=sagX.slug %}"><img src="{{ sagX.resim.url }}"
                                                                                              alt="{{ sagX.title }}"
                                                                                              class="img-fluid"
                                                                                              height="200" width="400"
                                                                                              loading="lazy"
                                                                                              style="border-radius: 10px; margin-bottom: 10px;"></a>
                                    <div class=class="post-meta" style="color: #8C0D0D;"><span
                                            class="date">{{ sagX.Post_Turu.short_title }}</span>
                                        <span
                                                class="mx-1">&bullet;</span>
                                        <span>{{ sagX.olusturma_tarihi|date:"d F Y" }}</span></div>
                                    <h2><a href="{% url 'post-getir' post_slug=sagX.slug %}">{{ sagX.title }}</a></h2>
                                </div>
                            {% endfor %}


                        </div>

                        <!-- Trending Section -->
                        <div class="col-lg-4">

                            <div class="trending">
                                <h3>Teknoloji Trend</h3>
                                <ul class="trending-post">

                                    {% for sagX in TrendTeknoji8 %}
                                        <li>
                                            <a href="{% url 'post-getir' post_slug=sagX.slug %}">
                                                <span class="number">{{ forloop.counter }}</span>
                                                <h3>{{ sagX.title }}</h3>
                                                <span class="author">{{ sagX.yazar }}</span>
                                            </a>
                                        </li>

                                    {% endfor %}

                                </ul>
                            </div>

                        </div> <!-- End Trending Section -->
                    </div>
                </div>

            </div> <!-- End .row -->
        </div>
    </section> <!-- End Post Grid Section -->


    <!-- ======= Post Grid Section ======= -->
    <section id="posts" class="posts">
        <div class="container" data-aos="fade-up">
            <div class="row g-5">
                <div class="section-header d-flex justify-content-between align-items-center mb-5">
                    <h2>Cep Telefonu</h2>
                    <div><a href="{% url 'telefon' %}" class="more">Cep Telefonu Haberleri</a></div>
                </div>

                <div class="col-lg-12">
                    <div class="row g-5">
                        <div class="col-lg-4 border-start custom-border">
                            {% for solX in HomeTelefonSol %}
                                <div class="post-entry-1">
                                    <a href="{% url 'post-getir' post_slug=solX.slug %}"><img src="{{ solX.resim.url }}"
                                                                                              alt="{{ solX.title }}"
                                                                                              class="img-fluid"
                                                                                              height="200" width="400"
                                                                                              loading="lazy"
                                                                                              style="border-radius: 10px; margin-bottom: 10px;"></a>
                                    <div class=class="post-meta" style="color: #8C0D0D;"><span
                                            class="date">{{ solX.Post_Turu.short_title }}</span>
                                        <span
                                                class="mx-1">&bullet;</span>
                                        <span>{{ solX.olusturma_tarihi|date:"d F Y" }}</span></div>
                                    <h2><a href="{% url 'post-getir' post_slug=solX.slug %}">{{ solX.title }}</a></h2>
                                </div>
                            {% endfor %}

                        </div>
                        <div class="col-lg-4 border-start custom-border">
                            {% for sagX in HomeTelefonSag %}
                                <div class="post-entry-1">
                                    <a href="{% url 'post-getir' post_slug=sagX.slug %}"><img src="{{ sagX.resim.url }}"
                                                                                              alt="{{ sagX.title }}"
                                                                                              class="img-fluid"
                                                                                              height="200" width="400"
                                                                                              loading="lazy"
                                                                                              style="border-radius: 10px; margin-bottom: 10px;"></a>
                                    <div class=class="post-meta" style="color: #8C0D0D;"><span
                                            class="date">{{ sagX.Post_Turu.short_title }}</span>
                                        <span
                                                class="mx-1">&bullet;</span>
                                        <span>{{ sagX.olusturma_tarihi|date:"d F Y" }}</span></div>
                                    <h2><a href="{% url 'post-getir' post_slug=sagX.slug %}">{{ sagX.title }}</a></h2>
                                </div>
                            {% endfor %}


                        </div>

                        <!-- Trending Section -->
                        <div class="col-lg-4">

                            <div class="trending">
                                <h3>Bilim Trend</h3>
                                <ul class="trending-post">

                                    {% for sagX in TrendTelefon8 %}
                                        <li>
                                            <a href="{% url 'post-getir' post_slug=sagX.slug %}">
                                                <span class="number">{{ forloop.counter }}</span>
                                                <h3>{{ sagX.title }}</h3>
                                                <span class="author">{{ sagX.yazar }}</span>
                                            </a>
                                        </li>

                                    {% endfor %}

                                </ul>
                            </div>

                        </div> <!-- End Trending Section -->
                    </div>
                </div>

            </div> <!-- End .row -->
        </div>
    </section> <!-- End Post Grid Section -->



    <!-- ======= Post Grid Section ======= -->
    <section id="posts" class="posts">
        <div class="container" data-aos="fade-up">
            <div class="row g-5">
                <div class="section-header d-flex justify-content-between align-items-center mb-5">
                    <h2>Bilim</h2>
                    <div><a href="{% url 'bilim' %}" class="more">Bilim Haberleri</a></div>
                </div>

                <div class="col-lg-12">
                    <div class="row g-5">
                        <div class="col-lg-4 border-start custom-border">
                            {% for solX in HomeBilimSol %}
                                <div class="post-entry-1">
                                    <a href="{% url 'post-getir' post_slug=solX.slug %}"><img src="{{ solX.resim.url }}"
                                                                                              alt="{{ solX.title }}"
                                                                                              class="img-fluid"
                                                                                              height="200" width="400"
                                                                                              loading="lazy"
                                                                                              style="border-radius: 10px; margin-bottom: 10px;"></a>
                                    <div class=class="post-meta" style="color: #8C0D0D;"><span
                                            class="date">{{ solX.Post_Turu.short_title }}</span>
                                        <span
                                                class="mx-1">&bullet;</span>
                                        <span>{{ solX.olusturma_tarihi|date:"d F Y" }}</span></div>
                                    <h2><a href="{% url 'post-getir' post_slug=solX.slug %}">{{ solX.title }}</a></h2>
                                </div>
                            {% endfor %}

                        </div>
                        <div class="col-lg-4 border-start custom-border">
                            {% for sagX in HomeBilimSag %}
                                <div class="post-entry-1">
                                    <a href="{% url 'post-getir' post_slug=sagX.slug %}"><img src="{{ sagX.resim.url }}"
                                                                                              alt="{{ sagX.title }}"
                                                                                              class="img-fluid"
                                                                                              height="200" width="400"
                                                                                              loading="lazy"
                                                                                              style="border-radius: 10px; margin-bottom: 10px;"></a>
                                    <div class=class="post-meta" style="color: #8C0D0D;"><span
                                            class="date">{{ sagX.Post_Turu.short_title }}</span>
                                        <span
                                                class="mx-1">&bullet;</span>
                                        <span>{{ sagX.olusturma_tarihi|date:"d F Y" }}</span></div>
                                    <h2><a href="{% url 'post-getir' post_slug=sagX.slug %}">{{ sagX.title }}</a></h2>
                                </div>
                            {% endfor %}


                        </div>

                        <!-- Trending Section -->
                        <div class="col-lg-4">

                            <div class="trending">
                                <h3>Bilim Trend</h3>
                                <ul class="trending-post">

                                    {% for sagX in TrendBilim8 %}
                                        <li>
                                            <a href="{% url 'post-getir' post_slug=sagX.slug %}">
                                                <span class="number">{{ forloop.counter }}</span>
                                                <h3>{{ sagX.title }}</h3>
                                                <span class="author">{{ sagX.yazar }}</span>
                                            </a>
                                        </li>

                                    {% endfor %}

                                </ul>
                            </div>

                        </div> <!-- End Trending Section -->
                    </div>
                </div>

            </div> <!-- End .row -->
        </div>
    </section> <!-- End Post Grid Section -->

    <!-- ======= Business Category Section ======= -->
    <!-- ======= Post Grid Section ======= -->
    <section id="posts" class="posts">
        <div class="container" data-aos="fade-up">
            <div class="row g-5">
                <div class="section-header d-flex justify-content-between align-items-center mb-5">
                    <h2>Otomobil</h2>
                    <div><a href="{% url 'otomobil' %}" class="more">Otomobil Haberleri</a></div>
                </div>

                <div class="col-lg-12">
                    <div class="row g-5">
                        <div class="col-lg-4 border-start custom-border">
                            {% for solX in HomeOtoSol %}
                                <div class="post-entry-1">
                                    <a href="{% url 'post-getir' post_slug=solX.slug %}"><img src="{{ solX.resim.url }}"
                                                                                              alt="{{ solX.title }}"
                                                                                              class="img-fluid"
                                                                                              height="200" width="400"
                                                                                              loading="lazy"
                                                                                              style="border-radius: 10px; margin-bottom: 10px;"></a>
                                    <div class=class="post-meta" style="color: #8C0D0D;"><span
                                            class="date">{{ solX.Post_Turu.short_title }}</span>
                                        <span
                                                class="mx-1">&bullet;</span>
                                        <span>{{ solX.olusturma_tarihi|date:"d F Y" }}</span></div>
                                    <h2><a href="{% url 'post-getir' post_slug=solX.slug %}">{{ solX.title }}</a></h2>
                                </div>
                            {% endfor %}

                        </div>
                        <div class="col-lg-4 border-start custom-border">
                            {% for sagX in HomeOtoSag %}
                                <div class="post-entry-1">
                                    <a href="{% url 'post-getir' post_slug=sagX.slug %}"><img src="{{ sagX.resim.url }}"
                                                                                              alt="{{ sagX.title }}"
                                                                                              class="img-fluid"
                                                                                              height="200" width="400"
                                                                                              loading="lazy"
                                                                                              style="border-radius: 10px; margin-bottom: 10px;"></a>
                                    <div class=class="post-meta" style="color: #8C0D0D;"><span
                                            class="date">{{ sagX.Post_Turu.short_title }}</span>
                                        <span
                                                class="mx-1">&bullet;</span>
                                        <span>{{ sagX.olusturma_tarihi|date:"d F Y" }}</span></div>
                                    <h2><a href="{% url 'post-getir' post_slug=sagX.slug %}">{{ sagX.title }}</a></h2>
                                </div>
                            {% endfor %}


                        </div>

                        <!-- Trending Section -->
                        <div class="col-lg-4">

                            <div class="trending">
                                <h3>Otomobil Trend</h3>
                                <ul class="trending-post">

                                    {% for sagX in TrendOto8 %}
                                        <li>
                                            <a href="{% url 'post-getir' post_slug=sagX.slug %}">
                                                <span class="number">{{ forloop.counter }}</span>
                                                <h3>{{ sagX.title }}</h3>
                                                <span class="author">{{ sagX.yazar }}</span>
                                            </a>
                                        </li>

                                    {% endfor %}

                                </ul>
                            </div>

                        </div> <!-- End Trending Section -->
                    </div>
                </div>

            </div> <!-- End .row -->
        </div>
    </section> <!-- End Post Grid Section -->

    <!-- ======= Lifestyle Category Section ======= -->
    <!-- ======= Post Grid Section ======= -->
    <!-- ======= Post Grid Section ======= -->
    <section id="posts" class="posts">
        <div class="container" data-aos="fade-up">
            <div class="row g-5">
                <div class="section-header d-flex justify-content-between align-items-center mb-5">
                    <h2>Oyun</h2>
                    <div><a href="{% url 'oyun' %}" class="more">Oyun Haberleri</a></div>
                </div>

                <div class="col-lg-12">
                    <div class="row g-5">
                        <div class="col-lg-4 border-start custom-border">
                            {% for solX in HomeOyunSol %}
                                <div class="post-entry-1">
                                    <a href="{% url 'post-getir' post_slug=solX.slug %}"><img src="{{ solX.resim.url }}"
                                                                                              alt="{{ solX.title }}"
                                                                                              class="img-fluid"
                                                                                              height="200" width="400"
                                                                                              loading="lazy"
                                                                                              style="border-radius: 10px; margin-bottom: 10px;"></a>
                                    <div class=class="post-meta" style="color: #8C0D0D;"><span
                                            class="date">{{ solX.Post_Turu.short_title }}</span>
                                        <span
                                                class="mx-1">&bullet;</span>
                                        <span>{{ solX.olusturma_tarihi|date:"d F Y" }}</span></div>
                                    <h2><a href="{% url 'post-getir' post_slug=solX.slug %}">{{ solX.title }}</a></h2>
                                </div>
                            {% endfor %}

                        </div>
                        <div class="col-lg-4 border-start custom-border">
                            {% for sagX in HomeOyunSag %}
                                <div class="post-entry-1">
                                    <a href="{% url 'post-getir' post_slug=sagX.slug %}"><img src="{{ sagX.resim.url }}"
                                                                                              alt="{{ sagX.title }}"
                                                                                              class="img-fluid"
                                                                                              height="200" width="400"
                                                                                              loading="lazy"
                                                                                              style="border-radius: 10px; margin-bottom: 10px;"></a>
                                    <div class=class="post-meta" style="color: #8C0D0D;"><span
                                            class="date">{{ sagX.Post_Turu.short_title }}</span>
                                        <span
                                                class="mx-1">&bullet;</span>
                                        <span>{{ sagX.olusturma_tarihi|date:"d F Y" }}</span></div>
                                    <h2><a href="{% url 'post-getir' post_slug=sagX.slug %}">{{ sagX.title }}</a></h2>
                                </div>
                            {% endfor %}


                        </div>

                        <!-- Trending Section -->
                        <div class="col-lg-4">

                            <div class="trending">
                                <h3>Oyun Trend</h3>
                                <ul class="trending-post">

                                    {% for sagX in TrendOyun8 %}
                                        <li>
                                            <a href="{% url 'post-getir' post_slug=sagX.slug %}">
                                                <span class="number">{{ forloop.counter }}</span>
                                                <h3>{{ sagX.title }}</h3>
                                                <span class="author">{{ sagX.yazar }}</span>
                                            </a>
                                        </li>

                                    {% endfor %}

                                </ul>
                            </div>

                        </div> <!-- End Trending Section -->
                    </div>
                </div>

            </div> <!-- End .row -->
        </div>
    </section> <!-- End Post Grid Section --> <!-- End Post Grid Section -->



{% endblock pageicerik %}