{% load static %}

<!-- Sidebar START -->
<div class="col-lg-3 mt-5 mt-lg-0">
    <div data-sticky data-margin-top="80" data-sticky-for="767">

        <!-- Trending topics widget START -->
        <div>
            <h4 class="mt-4 mb-3">Kategoriler</h4>
            <!-- Category item -->
            <div class="text-center mb-3 card-bg-scale position-relative overflow-hidden rounded bg-dark-overlay-4 lazy"
                 style="background-image:url({% static 'yeni/assets/images/kategori/teknoloji-haberleri.webp' %}); background-position: center left; background-size: cover;">
                <div class="p-3">
                    <a href="#" class="stretched-link btn-link fw-bold text-white h5">Teknoloji</a>
                </div>
            </div>
            <!-- Category item -->
            <div class="text-center mb-3 card-bg-scale position-relative overflow-hidden rounded lazy"
                 style="background-image:url({% static 'yeni/assets/images/kategori/bilim-haberleri.webp' %}); background-position: center left; background-size: cover;">
                <div class="bg-dark-overlay-4 p-3">
                    <a href="#" class="stretched-link btn-link fw-bold text-white h5">Bilim</a>
                </div>
            </div>
            <!-- Category item -->
            <div class="text-center mb-3 card-bg-scale position-relative overflow-hidden rounded lazy"
                 style="background-image:url({% static 'yeni/assets/images/kategori/telefon-haberleri.webp' %}); background-position: center left; background-size: cover;">
                <div class="bg-dark-overlay-4 p-3">
                    <a href="#" class="stretched-link btn-link fw-bold text-white h5">Akıllı Telefon</a>
                </div>
            </div>
            <!-- Category item -->
            <div class="text-center mb-3 card-bg-scale position-relative overflow-hidden rounded lazy"
                 style="background-image:url({% static 'yeni/assets/images/kategori/oyun-haberleri.webp' %}); background-position: center left; background-size: cover;">
                <div class="bg-dark-overlay-4 p-3">
                    <a href="#" class="stretched-link btn-link fw-bold text-white h5">Oyun</a>
                </div>
            </div>
            <!-- Category item -->
            <div class="text-center mb-3 card-bg-scale position-relative overflow-hidden rounded lazy"
                 style="background-image:url({% static 'yeni/assets/images/kategori/dizi-film-haberleri.webp' %}); background-position: center left; background-size: cover;">
                <div class="bg-dark-overlay-4 p-3">
                    <a href="#" class="stretched-link btn-link fw-bold text-white h5">Dizi / Film</a>
                </div>
            </div>
            <!-- Category item -->
            <div class="text-center mb-3 card-bg-scale position-relative overflow-hidden rounded lazy"
                 style="background-image:url({% static 'yeni/assets/images/kategori/otomobil-haberleri.webp' %}); background-position: center left; background-size: cover;">
                <div class="bg-dark-overlay-4 p-3">
                    <a href="#" class="stretched-link btn-link fw-bold text-white h5">Otomobil</a>
                </div>
            </div>
            <!-- View All Category button
            <div class="text-center mt-3">
                <a href="#" class="fw-bold text-body text-primary-hover"><u>View all categories</u></a>
            </div>-->
        </div>
        <!-- Trending topics widget END -->

        <div class="row">
            <!-- Recent post widget START -->
            <div class="col-12 col-sm-6 col-lg-12">
                <h4 class="mt-4 mb-3">Bakmaya Değer</h4>
                {% for bannerhaber in sideHaber %}
                    <!-- Most read -->
                    <div>
                        <div class="d-flex position-relative mb-3">
                            <span class="me-3 mt-n1 fa-fw fw-bold fs-3 opacity-5">{{ forloop.counter }}</span>
                            <h6><a href="#"
                                   class="stretched-link text-reset btn-link">{{ bannerhaber.title }}</a>
                            </h6>
                        </div>
                    </div>

                    <!-- Recent post item
                                    <div class="card mb-3">
                                        <div class="row g-3">
                                            <div class="col-4">
                                                <img class="rounded lazy"
                                                     data-src="{{ bannerhaber.resim.url }}"
                                                     alt="{{ bannerhaber.title }}">
                                            </div>
                                            <div class="col-8">
                                                <h6><a href="post-single-2.html"
                                                       class="btn-link stretched-link text-reset fw-bold">{{ bannerhaber.title }}</a>
                                                </h6>
                                                <div class="small mt-1">{{ bannerhaber.olusturma_tarihi|date:"d M Y" }}</div>
                                            </div>
                                        </div>
                                    </div>-->
                {% endfor %}
            </div>
            <!-- Recent post widget END -->

            <!-- ADV widget START
            <div class="col-12 col-sm-6 col-lg-12 my-4">
                <a href="#" class="d-block card-img-flash">
                    <img src="assets/images/adv.png" alt="">
                </a>
                <div class="smaller text-end mt-2">ads via <a href="#"
                                                              class="text-body"><u>Bootstrap</u></a>
                </div>
            </div>-->
            <!-- ADV widget END -->
        </div>
    </div>
</div>
<!-- Sidebar END -->